config ZMK_DEFAULT_LAYER
    bool "Default layer"

if ZMK_DEFAULT_LAYER

# layers between [min, max] (inclusive) can be configured as a default layer
config ZMK_DEFAULT_LAYER_MIN_INDEX
    int "min layer index configurable as default layer"
    default 0

config ZMK_DEFAULT_LAYER_MAX_INDEX
    int "max layer index configurable as default layer"
    default 0

config ZMK_DEFAULT_LAYER_STUDIO_RPC
    bool "Enable default layer custom Studio RPC"
    depends on ZMK_STUDIO

config ZMK_DEFAULT_LAYER_OS_DETECTION
    bool "Resolve 'OS detection' default layer entries via zmk-feature-os-detection"
    depends on ZMK_OS_DETECTION

endif
